#mapa{
	width: 100%;
	height: 100%;
	background-color: black;
}

#iw-container  .iw-title {
   font-family: 'Open Sans Condensed', sans-serif;
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #48b5e9;
   color: white;
   margin: 1px;
   border-radius: 2px 2px 0 0; /* De acordo com o arredondamento dos cantos da infowindow por padrão. */
}

.gm-style-iw {
   width: 100% !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #fff;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
   position: fixed;
}

.titulo{
	background-color: #3196F9;
	width: 100%;
}

div#modal {
     max-height: 180px;
    height: 175px;
    width: 100%;
    position: absolute;
    margin-top: 50px;
    z-index: 2;
    background-color: #3F51B5;
    overflow: hidden;
    transform: translateY(-150%);
    box-shadow: -2px 4px 35px -8px rgba(0,0,0,1);
}

.ativo{
	transition: 0.5s ease all;
	transform: translateY(0) !important;
}

.inativo{
  transition-delay: 1s;
	transition: 0.8s ease all;
	transform: translateY(-150%) !important;
}

div#modal h5{
	display: inline-block;
	text-align: center;
	width: 100%;
	color: white;
	font-style: italic;
	font-size: 13pt;
}

div#modal p{
	color: white;
	text-align: center;
}

div#imagem {
    height: 125px;
    width: 38%;
    max-width: 40%;
    margin-left: 5px;
    background-color: black;
    overflow: hidden;
    float: left;
    margin-top: 8px;
}

div#conteudo {
    display: inline-block;
    float: right;
    width: 60%;
    padding: 5px;
}

div#imagem img{
	height: 100%;
	width: auto;
}

div#rodape {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3F51B5;
    border-top: 1px solid #303F9F;
}

div#rodape span {
    float: right;
}

div#rodape span {
    /* float: right; */
    /* background-color: #FF5252; */
    /* height: 28px; */
    /* margin-right: 5px; */
    text-align: center;
    width: 100%;
}

paper-toolbar#loja {
	background-color: #303F9F !important;
    z-index: 20;
    position: fixed;
    width: 100%;
}

paper-toolbar {
    background-color: #303F9F !important;
    z-index: 20;
}

div#drawer {
    z-index: 100;
}


#rodape li {
    float: left;
    height: 36px;
    background-color: #3F51B5;
    padding-top: 5px;
    margin-left: 5px;
    width: 48%;
    text-alignt: justify !important;
    font-size: 12pt;
    font-weight: bold;
}

div#rodape span {
    /* float: right; */
    /* background-color: #FF5252; */
    /* height: 28px; */
    /* margin-right: 5px; */
    text-align: center;
    width: 100%;
}

paper-button{
    margin-top: -8px;
    width: 100%;
    color: white;
}

#banner img {
    width: 100%;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-top: -35px;
    -webkit-filter: blur(0px) contrast(2);
    filter: blur(10px);
}

#banner {
    height: auto;
    width: 100%;
    overflow: hidden;
    margin-top: 0px;
}

#banner label {
    position: relative;
    color: #FFF;
    font-size: 18pt;
    z-index: 2;
    margin-left: 30px;
    top: 150px;
}

paper-card {
    display: block;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    border-radius: 6px;
    width: 95%;
    margin: 0 auto;
    height: 130px;
    margin-bottom: 5px;
}

.card-content img {
    height: 90px;
    max-width: 35%;
    display: inline;
}

.card-content span {
    float: right;
    display: inline;
    height: 80px;
    width: 60%;
    margin-top: 15px
}

#main.paper-drawer-panel > [main] {
    height: 100%;
    background-color: #d0d0d0;
    overflow: overlay;
    background-image: url('../img/skulls.png');
}

paper-toolbar#mapa-toolbar { 
    position: fixed;
    width: 100%;
}

#produtos {
  margin-top: 10px;
}

div#loja {
  padding-top: 56px;
  /*background-color: rgba(208, 208, 208, 0.53);*/
}

#filtros{
    background-color: dodgerblue;
    height: 40px;
}

.item-loja{
    min-height: 120px;
    background-color: white;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;

    -webkit-box-shadow: -1px 1px 6px 0px rgba(82,82,82,0.58);
    -moz-box-shadow: -1px 1px 6px 0px rgba(82,82,82,0.58);
    box-shadow: -1px 1px 6px 0px rgba(82,82,82,0.58);
}

.item-loja .imagem{
    width: 40%;
    max-width: 40%;
    height: 120px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.item-loja .imagem img{
    height: 100%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.item-loja .descricao{
    width: 60%;
    max-width: 60%;
    height: auto;
    padding: 5px;
    padding-top: 10px;
}

.item-loja .descricao p{
    font-size: 13pt;
}

.item-loja .descricao h4{
    font-size: 18pt;
    color: #303F9F;
    font-weight: bold;
}

.item-loja .descricao span{
    font-size: 12pt;
}

.item-loja .descricao .rating{
    height: 30px;
    width: 150px;
}

.item-loja .descricao .rating img{
    height: 100%;
}


#banner.ng-enter{
  transition: 0.5s ease all;
  opacity:0;
}

#banner.ng-enter.ng-enter-active{
  opacity:1;
}

#banner.ng-enter.ng-enter-active{
  opacity:1;
}

#banner.ng-leave.ng-leave-active{
    opacity:0;
}

.item-loja.ng-enter{
  transition: 0.5s ease all;
  opacity:0;
  transform: translateX(-100%);
}


.item-loja.ng-enter-stagger{
    transition-delay: 0.1s;
    transition-duration: 0s;
}

.item-loja.ng-enter.ng-enter-active{
  opacity:1;
  transform: translateX(0);
}


.item-loja.ng-leave-stagger{
    transition-delay: 0.1s;
    transition-duration: 0s;
}

.item-loja.ng-leave.ng-leave-active{
    transform:translateX(-100%);
    opacity:0;
}

.item-loja.non-selected {
    transform: translateX(-150%);
    transition: 1s ease all;
}

#produto{
    width: 100%;
    height: auto;
    background-color: white;
    padding-bottom: 70px;
    padding-top: 65px;
}

#produto #imagem-produto{
    height: 200px;
    width: 100%;
    background-color: white;
}

#produto #imagem-produto img{
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
}

#produto #descricao{
    margin-top: 15px;
    border-top: 1px solid #E3E3E3;
    width: 100%;
    background-color: white;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: justify;
}

#produto #descricao h4{
    text-align: center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 16pt;
    color: #303F9F;
    font-weight: bold;
}

#produto #descricao p{    
    border-top: 1px solid #E3E3E3;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    margin-top: 15px;
    padding-top: 15px;
}

#produto #preco-rating{
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:flex;
}

#produto #descricao #preco{
    width: 50%;
}

#produto #descricao #rating{
    width: 50%;
    height: 30px;
}

#produto #descricao #rating img{
    height: 100%;
    display: block;
    margin-bottom: 0 auto;
}

#produto #descricao #rating span{
    font-size: 8pt;
    text-align: center;
    width: 100%;
}

#produto #grafico{
    height: 200px;
    padding: 30px;
    width: 100%;
    padding-bottom: 20px;
}

paper-toolbar#produto-toolbar{
    position: fixed;
    width: 100%;
}

paper-toolbar#produto-toolbar span{
    text-align: center;
    width: 60%;
}

 h4{
    text-align: center;
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 16pt;
    color: #303F9F;
    font-weight: bold;
}

paper-spinner.loading{
    position: absolute;
    top:50%;
    left:50%;
    margin-top: -19px;
    margin-left: -19px;
    width: 38px;
    height: 38px;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  display:block;
  width:100%;

  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  left:100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
}